**/bin
**/lib/*.jar
**/.classpath
**/.project
/IntSys02_ContractNet/nbproject/private/
/IntSys02_ContractNet/build/
/IntSys02_ContractNet/APDescription.txt
/IntSys02_ContractNet/MTPs-Main-Container.txt
/IntSys02_ContractNet/dist/